{% load staticfiles %}
<!DOCTYPE html>
{% block html_tag %}
<html>
{% endblock %}
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'main/uikit/css/uikit.gradient.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/fancytree/skin-win7/ui.fancytree.css' %}" />
        <script src="{% static 'main/jq/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'main/jq/jquery-ui.min.js' %}"></script>
        <script src="{% static 'main/jq/jquery.cookie.js' %}"></script>
        <script src="{% static 'main/uikit/js/uikit.min.js' %}"></script>
        <script src="{% static 'main/uikit/js/components/sticky.min.js' %}"></script>
        <script src="{% static 'main/fancytree/js/jquery.fancytree.js' %}"></script>
        <script src="{% static 'main/myjs/utils.js' %}"></script>
    </head>
    {% block body_block %}{% endblock %}
</html>
