<ul>
{% for item in root %}
    <li id="{{ item.1 }}" class="folder">{{ item.0 }}
        {% if item.2|length > 0 %}
            {% include "main/folders_list.html" with root=item.2 only %}
        {% endif %}
    </li>
{% endfor %}
</ul>
