{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <script>
        $(document).ready(function () {
            $(function () {
                $("#folders").fancytree();
            });
            $("#move_to").find("#btnsub").click(function () {
                get_data_for_move_links();
                UIkit.modal("#move_to").hide();
            });
        });
    </script>
    <nav class='uk-navbar uk-navbar-attached' data-uk-sticky>
        <ul class='uk-navbar-nav'>
            <a href='{% url "root_page" %}' class='uk-navbar-brand'>segm.ru</a>
            <span><a id="add_link" style="visible:none;" href='#add_or_change_link' data-uk-modal></a></span>
            <span><a id="add_folder" style="visible:none;" href='#add_or_change_folder' data-uk-modal></a></span>
            <span><a id="move_links" style="visible:none;" href='#move_to' data-uk-modal></a></span>

            <li><a id="add" title="Добавить ссылку" href='javascript:add_link()'>
                    <i class="uk-icon-plus uk-icon-medium"></i></a></li>
            <li><a id="edit" title="Редактировать" href='javascript:edit_link_or_folder()'>
                    <i class="uk-icon-edit uk-icon-medium"></i></a></li>
            <li><a id="delete" title="Удалить" href='javascript:delete_link_or_folder()'>
                    <i class="uk-icon-remove uk-icon-medium"></i></a></li>
            <li><a id="move" title="Переместить" href='javascript:move_links()'>
                    <i class="uk-icon-send-o uk-icon-medium"></i></a></li>
            <li><a id="new_folder" title="Новая папка" href='javascript:add_folder()'>
                    <i class="uk-icon-folder-o uk-icon-medium"></i></a></li>
            <li><a id="export" title="Экспорт" href='#'>
                    <i class="uk-icon-share uk-icon-medium"></i></a></li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class='uk-nav uk-navbar-nav'>
                <li><a title="Выход" href="{%url 'logout'%}">{{username}}&nbsp;&nbsp;
                        <i class="uk-icon-sign-out uk-icon-medium" ></i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="uk-breadcrumb">
        <li>&nbsp;&nbsp;<a href="{% url 'get_item_page' id=root_uuid page=1 %}">Начало</a></li>
        {% for i in folders_line %}
        <li><a href="{% url 'get_item_page' id=i.1 page=1 %}">{{i.0}}</a></li>
        {% endfor %}
    </ul>

    <table class='uk-table uk-table-hover'>
        <thead>
            <tr>
                <th class='uk-width-1-10 uk-text-center'>
                    <input id="all" type='checkbox' />
                    <img width='24px' height='24px' src="{% static 'main/images/empty.png' %}">&nbsp;&nbsp;</th>
                <th class='uk-width-7-10'>Ссылка / Название папки</th>
                <th class='uk-width-2-10'>Дата добавления</th>
        </thead>
        <tbody>
            {% for item in items %}
                {% if item.link %}
                    <tr>
                        <td class="uk-text-center">
                            <input id="{{ item.uuid }}" type='checkbox' />&nbsp;&nbsp;
                            <a class="uk-icon-link uk-icon-large" href=""></a>
                        <td>
                            <a title="{{ item.description }}"
                               target="_blank" href='{{ item.link.link }}'>{{ item.title }}</a><br>
                            <small>{{ item.tags }}</small></td>
                        <td>{{ item.date_of_adding }}</td>
                {% else %}
                    <tr>
                        <td class="uk-text-center">
                            <input id="{{ item.uuid }}" type='checkbox' />&nbsp;&nbsp;
                            <a style="color:#F7D96E;" class="uk-icon-folder uk-icon-large" href=""></a>
                        <td>
                            <a title="{{ item.description }}"
                               href='{% url "get_item_page" id=item.uuid page=1 %}'>{{ item.title }}</a></td>
                        <td>{{ item.date_of_adding }}</td>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% if items.paginator.num_pages > 1 %}
    <div class="uk-width-10-10">
        <ul class="uk-pagination">
            {% if items.has_previous %}
                <li><a href="{% url 'get_item_page' id=state page=items.previous_page_number %}">Назад</a></li>
            {% endif %}
            <li class="uk-disabled"><span>{{ items.number }} из {{ items.paginator.num_pages }}</span></li>
            {% if items.has_next %}
                <li><a href="{% url 'get_item_page' id=state page=items.next_page_number %}">Вперед</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

    <div id="add_or_change_link" class="uk-modal">
        <form id="add_or_change_link_form" class="uk-form uk-form-horizontal" action="{% url 'add_link' %}" method="post">
            <div class="uk-modal-dialog">
                {% csrf_token %}
                <div class="uk-modal-header">
                    <span id="add_or_change_link_title">Добавить ссылку</span>
                    <a href="" class="uk-modal-close uk-close uk-align-right"></a>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-label"> {{ add_form.title.label }}</div>
                    <div class="uk-form-controls"> {{ add_form.title }}</div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-label"> {{ add_form.link.label }}</div>
                    <div class="uk-form-controls"> {{ add_form.link }}</div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-label"> {{ add_form.description.label }}</div>
                    <div class="uk-form-controls"> {{ add_form.description }}</div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-label"> {{ add_form.tags.label }}</div>
                    <div class="uk-form-controls"> {{ add_form.tags }}</div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button id="submit" type="submit" class="uk-button uk-button-success">Добавить</button>
                </div>
            </div>
        </form>
    </div>

    <div id="add_or_change_folder" class="uk-modal">
        <form id="add_or_change_folder_form" class="uk-form uk-form-horizontal" action="{% url 'add_folder' %}" method="post">
            {% csrf_token %}
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <span id="add_or_change_folder_title">Добавить папку</span>
                    <a href="" class="uk-modal-close uk-close uk-align-right"></a>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-label"> {{ add_folder.title.label }}</div>
                    <div class="uk-form-controls"> {{ add_folder.title }}</div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-label"> {{ add_folder.description.label }}</div>
                    <div class="uk-form-controls"> {{ add_folder.description }}</div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button id="submit" type="submit" class="uk-button uk-button-success">Добавить</button>
                </div>
            </div>
        </form>
    </div>

    <div id="move_to" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                Выберите папку для перемещения
                <a href="" class="uk-modal-close uk-close uk-align-right"></a>
            </div>
            <div class="uk-overflow-container">
                <div id="folders" style="border:none;">
                    <ul id="treeData" class="folder" style="display:none;">
                        <li id="{{ root_uuid }}" class="folder expanded active">/
                            {% include "main/folders_list.html" with root=folders_tree only %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button id="btnsub" class="uk-button uk-button-success">Переместить</button>
            </div>
        </div>
    </div>
{% endblock %}
