{% extends 'main/base.html '%}

{% block html_tag %}
<html class="uk-height-1-1">
{% endblock %}

{% block body_block %}
    <body class='uk-height-1-1'>
        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class='uk-vertical-align-middle' style='width: 300px;'>
                <form action='{% url "reg_page" %}' method='post' class='uk-panel uk-panel-box uk-form'>
                    {% csrf_token %}
                    <div class='uk-form-row uk-width-1-1'>
                        {{ form.username }}
                        {% for err in form.username.errors %}
                            <div class='uk-alert uk-alert-danger'>
                                {{ err }}
                            </div>
                        {% endfor%}
                    </div>
                    <div class='uk-form-row uk-width-1-1'>
                        {{ form.password }}
                        {% for err in form.password.errors %}
                            <div class='uk-alert uk-alert-danger'>
                                {{ err }}
                            </div>
                        {% endfor%}
                    </div>
                    <div class='uk-form-row uk-width-1-1'>
                        {{ form.confirm_password }}
                        {% for err in form.confirm_password.errors %}
                            <div class='uk-alert uk-alert-danger'>
                                {{ err }}
                            </div>
                        {% endfor%}
                    </div>
                    <div class='uk-form-row uk-width-1-1'>
                        {{ form.email }}
                        {% for err in form.email.errors %}
                            <div class='uk-alert uk-alert-danger'>
                                {{ err }}
                            </div>
                        {% endfor%}
                    </div>

                    <div class='uk-form-row'>
                        <input type="submit" value="Зарегистрироваться"
                               class="uk-button uk-button-success uk-width-1-1"
                               style="color:#FFFFFF;">
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}